$fontColor: black;
.my-nav {
  background: white !important;
  border-bottom: 1px solid #ededed;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: 20px;

  .navbar-brand {
    color: black;
  }


  .my-ul {

    margin: 0 auto;
  }

  .my-ul li {
    font-weight: 500;
    font-size: 14px;


  .nav-link {
    color: $fontColor;

    width: 100%;
  }
  }
  .search {
    position: absolute;
    left: 25px;
  }

  .fa-shopping-basket {
    position: absolute;
    right: 25px;

  }
}


@media (max-width: 992px) {
  .my-ul {
    margin: 0;
  }

  .search {
    position: static !important;
  }

  .fa-shopping-basket {
    position: static !important;
  }
 }


//css for jquery
 .my-nav.scrolled {
     background: rgba(255, 255, 255, 0.7) !important;
     transition: background-color 200ms linear;
 }
